<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style_products.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='logo/logo_oficial1.png') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <a href="{{ url_for('index') }}" class="back_button">Volver al inicio</a>
    <div class="cart_button_container">
      <a href="{{ url_for('cart') }}" class="view_cart_button">Ver carrito</a>
    </div>

    <div class="tittle_container">
      <div class="tittle">
        <div class="main_tittle">
          <h1 class="main_title_text">
            <span>A</span><span class="green">f</span
            ><span class="yellow">r</span><span class="red">o</span>
          </h1>
          <h2 class="main_title_text">Káyaks</h2>
        </div>
        <div class="subtittle">
          <p class="main_description">Tienda Online Oficial.</p>
        </div>
      </div>
    </div>

    <div class="product_container">
      {% for producto in productos %}
      <div class="product_card">
        <img
          src="{{ url_for('static', filename=producto['imagen']) }}"
          alt="{{ producto['nombre'] }}"
          class="product_image"
        />
        <h2 class="product_name">{{ producto['nombre'] }}</h2>
        <h2 class="product_price">${{ producto['precio'] }}</h2>
        <p class="product_description">{{ producto['descripcion'] }}</p>
        <a
          class="add_to_cart_button"
          href="{{ url_for('add_to_cart', producto_id=producto['id']) }}"
        >
          <img
            src="{{ url_for('static', filename='images/add.png') }}"
            alt="Agregar al carrito"
            class="add_icon"
          />
        </a>
      </div>
      {% else %}
      <p>No hay productos disponibles.</p>
      {% endfor %}
    </div>
  </body>
</html>
